{% extends "GuestbookBundle::layout.html.twig" %}
{% block body %}
<h1>Entry list</h1>
    <section class="events">
        <header id="menu">
            <a class="button" href="{{ path('entry_new') }}">Create new entry</a>

            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <a href="{{ path('logout') }}" class="link">Logout</a>
            {% else %}
                <a href="{{ path('login') }}" class="link">Login</a>
            {% endif %}
        </header>
<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Message</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('entry_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.name }}</td>
            <td>{{ entity.email }}</td>
            <td>{{ entity.message }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('entry_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('entry_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('entry_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
    </section>
{% endblock %}